/* public/css/styles.css */
#mainNav {
    background-color: rgba(0, 0, 0, 0.5); /* Noir avec transparence */
    transition: background-color 0.5s ease;
}

#mainNav .navbar-brand, 
#mainNav .nav-link {
    color: white; /* Couleur du texte en blanc pour bien contraster avec la barre noire */
}

#mainNav .navbar-brand:hover,
#mainNav .nav-link:hover {
    color: #f8f9fa; /* Légère variation de couleur au survol */
}
/* Ajouter une marge pour compenser la hauteur de la navbar */
body {
    padding-top: 80px; /* Ajustez cette valeur en fonction de la hauteur réelle de votre navbar */
}

/* Optionnel: ajustez la taille du h1 pour qu'il ne prenne pas trop de place */
h1 {
    margin-top: 20px;
}
